footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}

footer h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    text-transform: capitalize;
    color: #333333;
    padding-bottom: 16px;
}

.input-div {
    width: 348px;
    background: #ffffff;
    border: 2px solid rgba(51, 95, 4, 0.4);
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.input-div img {
    margin-left: 22px;
}

footer input {
    outline: none;
    border: none;
    padding: 19px 0px 18px 15.76px;
}

footer input::placeholder {
    color: #335f04;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
}

.inputs {
    display: flex;
    justify-content: center;
    gap: 20px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.submit {
    width: 180px;
    height: 50px;
    background: #335F04;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FDFEFD;
    margin-bottom: 40px;
}

footer h2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 37px;
    text-transform: capitalize;
    color: #333333;
    padding-bottom: 3px;
}

footer h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    text-transform: capitalize;
    color: rgba(51, 51, 51, 0.7);
}

.retake {
    width: 180px;
    height: 50px;
    background: #335F04;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Noto Sans';
    text-align: center;
    color: #FDFEFD;
    margin: 40px 0 40px 0;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    background: #335f04;
    width: 100%;
}

.copyright h4 {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    padding-left: 20px;
}

.copyright img {
    padding-right: 10px;
}

@media screen and (max-width: 900px) {
    

@media screen and (max-width: 820px){
    footer h1{
        font-size: 22px;
    }

    .input-div{
        width: 330px;
    }

    footer .submit, footer .retakex{
        width: 156px;
        font-size: 14px;
    }

    footer h2{
        font-size: 22px;
    }

    footer h3{

        font-size: 16px;
    }
}

@media screen and (max-width: 786px) {
    footer>img {
        width: 70%;
    }

    .copyright {
        flex-direction: column;
        height: 80px;
        justify-content: center;
    }
    .inputs {
        flex-direction: column;
    }
}
}