* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Besley", sans-serif;
}

p {
  font-family: 'Noto Sans', sans-serif;
}

button{
  cursor: pointer;
  outline: none;
  border: none;
}

.app{
  display: flex;
  height: 100vh;
  width: 100vw;
}

main{
  height: 100vh;
  width: calc(100vw - 480px);
  overflow-y: scroll;
  background-color: #ffffff;
}

@media screen and (max-width: 1300px) {
  main {
    width: 100%;
  }
}